apiVersion: v1
kind: Service
metadata:
  name: pdf-to-image
  labels:
    app: pdf-to-image
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: pdf-to-image
